#back{
    display: grid;
    place-items: center;
    a,button{
        font-size: 1.5rem;
        text-decoration: none;
        padding: 5px;
        width: 150px;
        text-align: center;
        margin: 5px;
        color: black;
        background-color: white;
        &:hover{
            background-color: gray;
        }
    }
}
#form{
    display: grid;
    grid-template-columns: 1fr;
    width: 20vw;
    margin: auto;
    min-height: 30vh;
    text-align: start;
    padding: 5%;
    place-items: center;
    
    label{
        align-self: end;
        font-size: 2rem;
    }
    input[type=submit]{
        font-size: 1.5rem;
        padding: 15px;
        border-radius: 10px;
    }
    input[type=text],input[type=password]{
        line-height: 2;
        font-size: 1.5rem;
        margin: 10px;
        text-align: center;
    }
    a{
        text-decoration: none;
        font-size: 1.5rem;

    }
}
#box{
    display: grid;
    place-items: center;
    .color_description{
        text-align: center;
        text-transform: capitalize;
    }
    .color_box{
        font-size: 1.5rem;
        height: 100px;
        padding: 10px;
        display: grid;
        align-items: center;
    }
}